@font-face {
    font-family: "MuseoModerno", cursive;
    src: url("../Community-Science-Museum/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf") format("truetype supports variations"),
        url("../Community-Science-Museum/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf") format("truetype-variations");
        font-weight: 100 1000%;

    font-family: "Darker Grotesque", sans-serif;
    src: url("../Community-Science-Museum/fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf") format("truetype");

    font-family: "Blinker", sans-serif;
    src: url("../Community-Science-Museum/fonts/Blinker/Blinker-Regular.ttf") format("truetype");
}

/*mobile first*/

body {
    min-width: 300px;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas:
        'top'
        'hero'
        'boxes'
        'info'
        'exhibitions'
        'newsletter'
        'bottom';
}

header { grid-area: top; background-color: #2B5AAD; }
section#hero { grid-area: hero; }
section#boxes { grid-area: boxes; }
section#main, section#news { grid-area: info; }
section#exhibitions, section#exhibition-page { grid-area: exhibitions; }
section#newsletter { grid-area: newsletter; }
footer { grid-area: bottom; background-color:#2B5AAD; }

h1 {
    font-family: "MuseoModerno", cursive;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

h2 {
    font-family: "Blinker", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

h3 {
    font-family: "Blinker", sans-serif;
    font-weight: normal;
    color:black;
    font-size: 40px;
}

h4 {
    font-family: "MuseoModerno", cursive;
    font-size: 20px;
    color: #FFFFFF;

}

header {
    font-family: "MuseoModerno", cursive;
    position: relative;
}

header img#logo {
    vertical-align: middle;
    height: 90px;
    display: inline-block;
}

header .headerlogo h1 {
    vertical-align: middle;
    font-size: 18px;
    color: #FFFFFF;
    display: inline-block;
    width: 160px;
    overflow-wrap: break-word;
}

.menuwrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menuwrap .hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 80px;
    height: 80px;
    opacity: 0;
}

.menuwrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    padding: 1rem;
    background: #2B5AAD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuwrap .hamburger > div {
    position: relative;
    width: 100%;
    flex: none;
    height: 2px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menuwrap .hamburger > div::before,
.menuwrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -15px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menuwrap .hamburger > div::after {
    top: 15px;
}

.menuwrap .hamburger-menu:checked ~ .menu {
    visibility: visible;
}

.menuwrap .hamburger-menu:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menuwrap .hamburger-menu:checked + 
.hamburger > div::before,
.menuwrap .hamburger-menu:checked +
.hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

.menuwrap .hamburger-menu:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menuwrap .hamburger-menu:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.2s ease 0.2s;
}

.menuwrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuwrap .menu > div {
    background: #2B5AAD;
    width: 200vw;
    height: 200vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menuwrap .menu > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    
}

#header ul.mobile li {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    list-style: none;
    
}

#header ul.mobile li a {
    text-decoration: inherit;
    display: block;
    flex-direction: column;
    padding: 3vw;
    color: #FFFFFF;
    background: #F19151;
    margin: 10px;
    overflow-wrap: initial;
}

#desktop {
    display: none;
}

#announcement {
    display: none;
} 

section#hero {
    position: relative;
}


section#hero img {
    width: 100%;
    height: auto;
    display: block;
}


section#hero > div.left {
    display: none;
}

section#hero > div.tickets {
    position: absolute;
    width: 265px;
    height: 50px;
    left: 50%;
    top: 50%;
    color: #FFFFFF;
    transform: translate(-50%,-50%);
    background: #F19151;
    border-radius: 10px;
}

section#hero > div.tickets > h2 {
    position: relative;
    text-align: center;
    bottom: 8px;
    display: block;
}

section#hero > div.tickets > h2 > a {
    text-decoration: none;
    color: #FFFFFF;
}

section#hero img.hero-title {
    display: none;
}

section#hero div.color {
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    background-color: #4788F7;
    width: 96%;
    height: 42px;
    bottom: 15px;
}

section#hero h4 {
    font-size: 24px;
    font-weight: 400;
}

section#boxes {
    display: grid;
    grid-template-rows: 1fr;
    background: #2B5AAD;
    padding: 0px;
    text-align: center;

}

section#boxes > div {
    height: 68px;
} 

section#boxes > div > h3 {
    margin: 0;
    vertical-align: middle;
}

section#boxes > div > h3 > a{
    text-decoration: none;
    color: #FFFFFF;
}

section#boxes > div:last-child{
    background: #4788F7;
}

section#boxes > div:first-child{
    background:#61B07D;
}

section#boxes > div > p {
    display: none;
}

section#main > div.left-text,
section#main > div.right-text {
    display: none;
}

section#main,
section#kids,
section#involved {
    display: grid;
    grid-template-columns: auto;
    padding: 20px
}

section#main > div.mobile
section#kids > div.mobile {
    position: relative;
    margin: 0 auto;
    padding: 10px;
}

section#main div.opening-hours > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    align-items: center;
    padding-bottom: 20px;
}

section#main div.opening-hours > h2 { 
    margin: 0;
    padding: 10px;
    color: black;
}

section#main div.opening-hours > div > ul {
    list-style-type: none;
}

section#main div.opening-hours > div > ul > li {
    padding: 6px;
    font-family: "Blinker", sans-serif;
    font-size: 20px;
}
section#main div.opening-hours > div > ul.time > li {
    font-weight: 600;
    font-family: "Blinker", sans-serif;
}

section#main img,
section#visit img,
section#kids img,
section#involved img{
    align-items: center;
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

section#main > div.mobile > div.container {
    position: relative;
}

section#main > div.mobile > div > div.cta >  h2 > a,
section#main > div.mobile > div > div.textbox >  h2 > a
 {
    text-decoration: none;
    color: #FFFFFF;
}

section#main > div.mobile > div > div.textbox >  h2 {
    margin: 0;
    margin-bottom: -15px;
    padding-top: 10px;
}

section#main > div.mobile > div > div.textbox > p {
    height: 82px;
    width: 95%;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 20px;
    overflow-wrap: break-word;
    display: inline-block;
}

section#main > div.mobile > div > div.cta {
    position: absolute;
    width: 115px;
    background-color: #F19151;
    bottom: 20px;
    right: 10px;
    text-align: center;
}

section#main > div.mobile > div > div.textbox {
    position: absolute;
    height: 140px;
    width: 85%;
    background-color: #F19151;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 20px;
}

section#main div.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    grid-gap: 20px;
    
}

section#main div.grid img {
    object-position: right;
}

section#main p,
section#kids p,
section#involved p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
    line-height: 18px;
}

section#main div.icons,
section#main div.icons-visit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
}

section#main div.icons div,
section#main div.icons-visit div {
    display: flex;
    align-items: center;

}

section#main div.icons div div,
section#main div.icons-visit div div {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #61B07D;
    margin: 20px;
}

section#main div.icons div div i,
section#main div.icons-visit div div i {
   padding: 12px;

}

section#main div.icons div div i.fa-coffee,
section#main div.icons-visit div div i.fa-coffee {
    padding: 8px;
 
 }

 section#main div.icons div div i.fa-parking,
 section#main div.icons-visit div div i.fa-parking {
    padding: 14px;
 
 }

section#main img.map {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

section#exhibitions {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 80px;
}


section#exhibitions img{
    width: 100%;
    height: 120px;
    object-fit: cover; object-position: 0 45%;
    display: flex;
}


section#exhibitions div.wrapper div:nth-child(1){
    background: rgba(71, 136, 247, 0.5);
    
}


section#exhibitions div h4 {
    display: grid;
    grid-template-rows: 1fr;
    position:relative;
    padding: 0;
    margin-top: -80px;
    text-align: center;
}

section#exhibitions div.evolution::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 98.6px;
    background: rgba(97, 176, 125, 0.5)
  }
  
  section#exhibitions div.ecology::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 98.6px;
      background: rgba(134, 251, 173, 0.5)
  }
  
  section#exhibitions div.robotics::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 98.6px;
      background: rgba(241, 148, 58, 0.5)
  }
  
  section#exhibitions div.biology::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 98.6px;
      background: rgba(71, 136, 247, 0.5)
  }
  
  section#exhibitions div.cosmology::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 98.6px;
      background: rgba(43, 90, 173, 0.5)
  }

section#exhibitions div a {
    text-decoration: none;
    color: #FFFFFF;
}

section#exhibition-page img,
section#news img {
    width: 100%;
    height: 278px;
    margin: 0px;
    padding: 10px;
    padding-bottom: 0;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

section#exhibition-page p.desktop {
    display: none;
}

section#exhibition-page p.mobile,
section#news p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 18px;
    margin-top: -25px;
    padding: 12px;
}

section#exhibition-page h2, 
section#news h2{
    padding-left: 12px;
    padding-top: 5px;
    color: #FFFFFF;
}

section#exhibition-page div.textbox,
section#news div.textbox {
    position: relative;
    height: fit-content;
    width: 85%;
    background-color: #F19151;
    top: -60px;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
}

section#newsletter img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
    bottom: 0px;
}

section#newsletter {
    white-space: nowrap;
}

section#newsletter div.wrapper {
    position: relative;
    bottom: 0;
}


section#newsletter div.wrapper h2 {
    position: absolute;
    color: #FFFFFF;
    top: 0%;
    padding: 20px;
}

section#newsletter div.wrapper  p {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    color: #FFFFFF;
    top: 22%;
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
}

section#newsletter .wrapper .container {
    position: absolute;
    top: 65%;
    left: 46%;
    transform: translate(-54%);
}

section#newsletter input {
    width: auto;
    height: 28px;
    list-style: none;
    text-align: center;
}

section#newsletter .btn {
    background-color: #F19151;
    height: 34px;
    border: none;
    width: 60px;
    color: black;
    display: inline-block;
    position: absolute;
}

section#kids {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: 0.8fr 0.4fr 1fr 1fr;
    grid-gap: 20px;
}

section#kids img:nth-child(1) {
    grid-column-start: span 3;
}

section#kids img:nth-child(4) {
    grid-column-start: 3;
}

section#kids p:nth-child(3) {
    grid-column-start: span 2;
}

section#kids p:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 4;
}

section#kids h2 {
    grid-column-start: span 3;
}

section#kids p {
    margin-top: 0;
}

footer {
    display: block;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    overflow:hidden;
    top: 0;
}

footer .wrapper {
    position: relative;
}

footer img {
    height: 90px;
    left: 0px;
    display: block;
}

footer .left {
    display: flex;
    flex-direction: row;
    height: 100%;
    clear: both;
}

footer div h1{
    position: relative;
    display: block;
    overflow-wrap: break-word;
    max-width: 180px;
    top: 5px;
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 3vw;
}

footer .socials {
    display: inline-block;
    position: absolute;
    margin-top: 50px;
    left: 70px;
}

footer .socials ul li{
    left: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    float: left;
    color: #FFFFFF;
}

footer .socials li a {
    text-decoration: none;
    color: #FFFFFF;
}

footer div nav {
    display: none;
}

footer .right {
    padding-right: 20px;
    right: 0;
    top: 0;
    position: absolute;
    max-width: 150px;
} 

footer p.title {
    font-family: "Blinker", sans-serif;
    font-size: 3vw;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: -5px;
}

footer p {
    margin-top: -5px;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 2vw;
    color: #FFFFFF;
    padding-top: -5px;
}

@media (min-width: 640px) {



body {
    
}


div.menuwrap {
    display: none;

}

#desktop {
    display: block;
    position: absolute;
    top: 15%;
    right: 2%;
    padding-left: 10px;
    margin: 0;
}

#desktop ul {
    width: auto;
}

#desktop ul li {
    list-style: none;
}

#desktop ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}

#announcement {
    position: relative;
    display: block;
    top: auto;
}

#header-bar {
    position: relative;
    padding: 0;
    height: 30px;
    width: 100%;
    background-color: #F19151;
    color: #FFFFFF;
    text-align: center;
}

#header-bar p { 
    vertical-align: middle;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1rem;
}

#header-bar p a {
    text-decoration: underline;
    color: inherit;
}


section#hero div{background-color:rgba(241, 148, 58, 0.65);}
section#hero div{background-color:rgba(241, 148, 58, 0.65);}
section#hero div{background-color:rgba(241, 148, 58, 0.65);}
section#hero div{background-color:rgba(241, 148, 58, 0.65);}
section#hero div{background-color:rgba(241, 148, 58, 0.65);}

section#hero img.hero-title {
    display: block;
    height: 120px;
    object-fit: cover; object-position: top;
    padding-bottom: 50px;
}

section#hero div.color,
section#hero div.color1,
section#hero div.color2,
section#hero div.color3,
section#hero div.color4,
section#hero div.color5 {
    background-color: unset;
    text-align: left;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0px;
}

section#hero div.color1 {
    background-color: rgba(241, 148, 58, 0.65);
    width: 100%;
    height: 120px;
}

section#hero div.color2 {
    background-color: rgba(71, 136, 247, 0.65);
    width: 100%;
    height: 120px;
}

section#hero div.color3 {
    background-color: rgba(134, 251, 173, 0.65);
    width: 100%;
    height: 120px;
}

section#hero div.color4 {
    background-color: rgba(43, 90, 173, 0.65);
    width: 100%;
    height: 120px;
}

section#hero div.color5 {
    background-color: rgba(97, 176, 125, 0.65);
    width: 100%;
    height: 120px;
}

section#hero h4 {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    bottom: 20px;
    font-size: 4vw;
}


.tickets {
    display: none;
}

section#boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: auto;
}

section#boxes > div {
    height: 100%;
    text-align: left;
}

section#boxes div h3{
    padding: 5px;
    font-size: 3vw;
    padding-left: 25px;
    padding-top: 20px;
}

section#boxes div p {
    display: block;
    padding: 0px 25px 0 25px;
    margin-top: 0px;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 2.2vw;
    color: #FFFFFF;
}

section#main div.left-text,
section#main div.right-text {
    display: block;
}

section#main div.mobile {
    display:none;
}

section#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 25px;
    margin-bottom: -50px;
    margin-top: -50px;
}

section#main .admision p,
section#main .location p,
section#main img {
    padding: 10px;
    margin-top: 0;

}

section#main h2 {
    margin-bottom:0;
    padding-left: 10px;
}

section#main p {
    margin-top: -40px;
    white-space:pre-line;
   
}

div#directions img {
    height: 200px;
    object-fit: cover;
}

div#directions h2 {
    padding-left: 0;
}

section#main div.opening-hours h2 {
    padding-left: 0;
}

section#main div.opening-hours > div > ul > li {
    padding-left: 0px;
    padding-bottom: 4px;
}

section#main div.icons {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
}

section#main div.icons div div,
section#main div.icons-visit div div {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #61B07D;
    margin: 10px;
}


section#main div.icons div p,
section#main div.icons-visit div p { 
    margin-top: 15px;
}

section#exhibitions {
    display: grid;
    box-sizing: border-box;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    width: auto;
    grid-area: auto;
}

section#exhibitions img {
    display: ;
    height: 30vw;
    max-width: 100%;
    min-width: 0;
    grid-column-start: 1;
}

section#exhibitions div {
    white-space: nowrap;
    position: relative;
    
}

section#exhibitions div h4 {
    display: grid;
    font-size: 2vw;
    width: 100%;
    text-align: center;
    top: -75px;
}

section#exhibitions a{
    z-index: 1;
}

section#exhibitions div.evolution img {
    object-position: 33%;
}

section#exhibitions div.evolution::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30vw;
  background: rgba(97, 176, 125, 0.5)
}

section#exhibitions div.ecology::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30vw;
    background: rgba(134, 251, 173, 0.5)
}

section#exhibitions div.robotics::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30vw;
    background: rgba(241, 148, 58, 0.5)
}

section#exhibitions div.biology::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30vw;
    background: rgba(71, 136, 247, 0.5)
}

section#exhibitions div.cosmology::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30vw;
    background: rgba(43, 90, 173, 0.5)
}

section#exhibitions div:hover {
    filter:blur(90)

}


section#exhibition-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: -40px;
}

section#exhibition-page h2 {
    font-size: 4.4vw;
    margin-bottom: 20px;
    white-space: pre;
    position: relative;
    bottom: 40px;

}

section#exhibition-page p.mobile {
    display: none;
    
}

section#exhibition-page p.desktop {
    display: block;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 200;
    font-size: 2.4vw;
    color: #000;
    line-height: 2.8vw;
    white-space: pre-line;
    position: relative;
    top: -5vw;

} 

section#exhibition-page div.textbox {
    display: inline-block;
    position: relative;
    background-color: unset;
    height: fit-content;
}

section#newsletter {
    height: 180px;
}

section#newsletter div.wrapper {
    text-align: center;
    justify-content: center;
}

section#newsletter div.wrapper h2 {
    margin-top: -5px;
}

section#newsletter div.wrapper p {
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    font-size: 2.5vw;

}

section#newsletter .wrapper .container {
    margin-top: -30px;
}

section#newsletter .wrapper .container input {
    width: 200px;
}

section#news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 50px;
    padding: 20px;
    margin-top: -50px;
}

section#news img {
    padding: 0;
}

section#news h2 {
    padding-bottom: 10px;
}

section#news div.textbox,
section#involved div.textbox {
    background-color: #4788F7;
    top: 0;
    width: 100%;
    left: 0;
    transform: unset;
    height: 100%;
}

section#kids {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.7fr;
}

section#kids img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section#kids img:nth-child(1) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-end: 5;
}

section#kids img:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    object-position: top;
}

section#kids img:nth-child(5) {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-end: 5;
}

section#kids p:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
}

section#kids p:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}

section#kids h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

section#kids p {
    margin-top: 0;
}

section#involved img {
    height: 100%;
}

section#involved {
    margin-top: -50px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

section#involved h2,
section#involved p {
    color: #FFFFFF;
    padding: 5px;
}

section#involved img {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer div.left h1 {
    max-width: 300px;
    width: 265px;
}

footer .right {
    right: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
    white-space: pre-line;
}
footer .right p.title {
    font-size: 2vw;
}

footer .right p {
    font-size: 1.5vw;
}

footer .right div {
    min-width: 150px;
}

footer .socials {
    bottom: 10%;
}

}