@font-face {
    font-family: "MuseoModerno", cursive;
    src: url("../Community-Science-Museum/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf") format("truetype supports variations"),
        url("../Community-Science-Museum/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf") format("truetype-variations");
        font-weight: 100 1000%;

    font-family: "Darker Grotesque", sans-serif;
    src: url("../Community-Science-Museum/fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf") format("truetype");

    font-family: "Blinker", sans-serif;
    src: url("../Community-Science-Museum/fonts/Blinker/Blinker-Regular.ttf") format("truetype");
}

/*mobile first*/

body {
    min-width: 300px;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas:
        'top'
        'hero'
        'boxes'
        'info'
        'exhibitions'
        'newsletter'
        'bottom';
}

header { grid-area: top; background-color: #2B5AAD; }
section#hero { grid-area: hero; }
section#boxes { grid-area: boxes; }
section#main { grid-area: info; }
section#exhibitions { grid-area: exhibitions; }
section#newsletter { grid-area: newsletter; }
footer { grid-area: bottom; background-color:#2B5AAD; }

h1 {
    font-family: "MuseoModerno", cursive;
    font-weight: 400;
    font-size: 18px;
}

h2 {
    font-family: "Blinker", sans-serif;
    font-weight: normal;
    color: #FFFFFF;
}

h3 {
    font-family: "Blinker", sans-serif;
    font-weight: normal;
    color:black;
    font-size: 40px;
}

h4 {
    font-family: "MuseoModerno", cursive;
    font-size: 20px;
    color: #FFFFFF;

}

header {
    font-family: "MuseoModerno", cursive;
    position: relative;
}

header img#logo {
    vertical-align: middle;
    height: 90px;
    display: inline-block;
}

header .headerlogo h1 {
    vertical-align: middle;
    font-size: 18px;
    color: #FFFFFF;
    display: inline-block;
    width: 160px;
    overflow-wrap: break-word;
}

.menuwrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menuwrap .hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 80px;
    height: 80px;
    opacity: 0;
}

.menuwrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    padding: 1rem;
    background: #2B5AAD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuwrap .hamburger > div {
    position: relative;
    width: 100%;
    flex: none;
    height: 2px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menuwrap .hamburger > div::before,
.menuwrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -15px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menuwrap .hamburger > div::after {
    top: 15px;
}

.menuwrap .hamburger-menu:checked ~ .menu {
    visibility: visible;
}

.menuwrap .hamburger-menu:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menuwrap .hamburger-menu:checked + 
.hamburger > div::before,
.menuwrap .hamburger-menu:checked +
.hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

.menuwrap .hamburger-menu:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menuwrap .hamburger-menu:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.2s ease 0.2s;
}

.menuwrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuwrap .menu > div {
    background: #2B5AAD;
    width: 200vw;
    height: 200vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menuwrap .menu > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    
}

header nav ul li {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    list-style: none;
    
}

header nav ul li a {
    text-decoration: inherit;
    display: block;
    flex-direction: column;
    padding: 3vw;
    color: #FFFFFF;
    background: #F19151;
    overflow-wrap: initial;
}

#announcement {
    display: none;
} 

section#hero {
    position: relative;
}

section#hero img {
    width: 100%;
    height: auto;
    display: block;
}

section#hero > div.left {
    display: none;
}

section#hero > div.tickets {
    position: absolute;
    width: 265px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #F19151;
    border-radius: 10px;
}

section#hero > div.tickets > h2 {
    position: relative;
    text-align: center;
    bottom: 8px;
    display: block;
}

section#boxes > div.wrapper {
    display: flex;
    flex-direction: column;
    top: 0;
}

section#boxes > div.wrapper > div{
    text-align: center;
    width: 100%;
    height: 68px;
    background: #2B5AAD;
}

section#boxes > div.wrapper > div > h3 {
    margin-top: 5px;
}

section#boxes > div.wrapper > div > h3 > a{
    text-decoration: none;
    color: #FFFFFF;
}

section#boxes > div.wrapper > div:last-child{
    width: 100%;
    height: 68px;
    background: #4788F7;
}

section#boxes > div.wrapper > div:first-child{
    width: 100%;
    height: 68px;
    background:#61B07D;
}

section#boxes > div.wrapper > div > p {
    display: none;
}

section#main > div.left-text,
section#main > div.right-text {
    display: none;
}

section#main > div.mobile {
    position: relative;
    margin: 0 auto;
    padding: 10px;
}

section#main > div.mobile > div.opening-hours > div {
    display: inline-block;
    align-items: center;
    padding-bottom: 20px;
}

section#main > div.mobile > div.opening-hours > h2 { 
    margin: 0;
    padding: 10px;
    color: black;
}

section#main > div.mobile > div.opening-hours > div > ul {
    list-style-type: none;
}

section#main > div.mobile > div.opening-hours > div > ul > li {
    padding: 6px;
    font-family: "Blinker", sans-serif;
    font-size: 20px;
}
section#main > div.mobile > div.opening-hours > div > ul.time > li {
    font-weight: 600;
    font-family: "Blinker", sans-serif;
}

section#main img {
    align-items: center;
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

section#main > div.mobile > div.container {
    position: relative;
}

section#main > div.mobile > div > div.cta >  h2 > a,
section#main > div.mobile > div > div.textbox >  h2 > a
 {
    text-decoration: none;
    color: #FFFFFF;
}

section#main > div.mobile > div > div.textbox >  h2 {
    margin: 0;
    margin-bottom: -15px;
    padding-top: 10px;
}

section#main > div.mobile > div > div.textbox > p {
    height: 82px;
    width: 95%;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 20px;
    overflow-wrap: break-word;
    display: inline-block;
}

section#main > div.mobile > div > div.cta {
    position: absolute;
    width: 115px;
    background-color: #F19151;
    bottom: 20px;
    right: 10px;
    text-align: center;
}

section#main > div.mobile > div > div.textbox {
    position: absolute;
    height: 140px;
    width: 325px;
    background-color: #F19151;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 20px;
}

section#exhibitions img{
    width: 100%;
    height: 120px;
    object-fit: cover; object-position: 0 45%;
    display: flex;
}

section#exhibitions div.wrapper {
    position: relative;
    margin-top: 80px;
}

section#exhibitions div.wrapper div h4 {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    display: block;
    margin-top: -70px;
}

section#exhibitions div.wrapper div a {
    text-decoration: none;
    color: #FFFFFF;
}

section#newsletter img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
    bottom: 0px;
}

section#newsletter div.wrapper {
    position: relative;
    bottom: 0;

}


section#newsletter div.wrapper h2 {
    position: absolute;
    color: #FFFFFF;
    top: 0%;
    padding: 20px;
}

section#newsletter div.wrapper  p {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    color: #FFFFFF;
    top: 22%;
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
}

section#newsletter .wrapper .container {
    position: absolute;
    top: 65%;
    left: 46%;
    transform: translate(-54%);
}

section#newsletter input {
    width: auto;
    height: 28px;
    list-style: none;
    text-align: center;
}

section#newsletter .btn {
    background-color: #F19151;
    height: 34px;
    border: none;
    width: 60px;
    color: black;
    display: inline-block;
    position: absolute;
}

footer {
    background-color: #2B5AAD;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    bottom: 0px;
    margin: 0;
}

footer .wrapper {
    position: relative;
}

footer img {
    height: 90px;
    left: 0px;
    display: block;
}

footer .left {
    display: flex;
    flex-direction: row;
}

footer div h1{
    position: relative;
    display: block;
    overflow-wrap: break-word;
    width: 150px;
    top: 5px;
    color: #FFFFFF;
}

footer .socials {
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    left: 70px;
}

footer .socials ul li{
    left: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    float: left;
    color: #FFFFFF;
}

footer div nav {
    display: none;
}

footer .right {
    padding-right: 20px;
    right: 0;
    top: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
} 

footer p.title {
    font-family: "Blinker", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 20px;
}

footer p {
    margin-top: -5px;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: -5px;
}